---
import ArrowRight from '../../icons/arrowRight.astro'
interface Props {
    img: string
    title: string
    section: string
}

const { img, title, section } = Astro.props
---

<div data-aos="fade-up" class="w-full relative h-full max-h-[320px] hover:scale-105 transition-all">
    <img src={`/images/${img}`} class="w-full object-cover h-full" alt={title}>
    <div class="w-full h-full absolute top-0 flex items-end p-8 text-white">
        <div class="w-full flex flex-col gap-4">
            <span class="max-w-max text-xs bg-smoothPurple px-5 py-1 rounded-full">
                {section}
            </span>
            <div class="flex justify-between w-full items-center">
                <h3 class="text-lg max-w-[190px]">
                    {title}
                </h3>
                <a href="#" class="max-w-max text-transparent hover:text-white">
                    <ArrowRight />
                </a>
            </div>
        </div>
    </div>
</div>