---
import ArrowRight from "../../icons/arrowRight.astro";
import GridComponent from "./gridComponent.astro";
---

<section class="w-full px-10 xl:px-0 max-w-6xl animate-fade-up animate-duration-700 flex flex-col gap-8 mx-auto mt-10">
    <div>
        <h2 data-aos="fade-down" class="text-white mb-3 capitalize text-4xl">
            get started.
        </h2>
        <p data-aos="fade-up" class="text-softGray text-xl">
            Use these Solana Foundation and community courses to begin your journey into Solana development.
        </p>
    </div>
    <div class="w-full h-[450px] md:h-[370px] relative rounded-2xl overflow-hidden">
        <img data-aos="fade-up" src="/images/grid-start-1.png" class="w-full h-full object-cover grayscale-[0.2]" alt="grid start first image">
        <div class="absolute top-0 w-full h-full flex flex-col gap-7 justify-center px-5 md:px-[108px] text-white">
            <div>
                <span data-aos="fade" class="bg-smoothPurple max-w-max text-xs px-4 py-1 rounded-full">
                    17 chapters
                </span>
                <h2 data-aos="fade-up" class="capitalize text-4xl mt-4 md:text-[38px]">
                    Solana development course
                </h2>
            </div>
            <p data-aos="fade-down" class="text-lg max-w-[380px]">
                Quickstart your Solana development starting from nothing to complex programs.
            </p>
            <div data-aos="fade-up" class="max-w-max">
                <a href="#" class="hover:text-white transition- text-transparent">
                    <ArrowRight />
                </a>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-2 mb-32 w-full gap-6 [&>div>img]:rounded-lg">
        <GridComponent
            img="grid-start-2.png"
            title="Buildspace"
            section="14 Chapters"
        />
        <GridComponent
            img="grid-start-3.png"
            title="Solana Bytes"
            section="12 Chapters"
        />
        <GridComponent
            img="grid-start-4.png"
            title="Scaffold Series"
            section="1 Chapter"
        />
        <GridComponent
            img="grid-start-5.png"
            title="Freecodecamp Solana Course"
            section="3 Chapters"
        />
        <GridComponent
            img="grid-start-6.png"
            title="Solana Development by Knox"
            section="167 Chapters"
        />
        <GridComponent
            img="grid-start-7.png"
            title="Solana Bootcamp"
            section="8 Chapters"
        />
    </div>
</section>