---
import Header from '../components/header.astro';
import Hero from '../components/get-started/hero.astro';
import Layout from '../layouts/Layout.astro'
import Started from '../components/get-started/started.astro';
import Documentation from '../components/get-started/documentation.astro';
import SolanaInfo from '../components/get-started/solanaInfo.astro';
---

<Layout title='Get Started'>
    <div class='w-full pb-32'>
        <Header selected='build' />
        <Hero />
        <Started />
        <Documentation />
        <SolanaInfo />
    </div>
</Layout>