---

---

<section class="max-w-6xl mx-auto w-full px-6 xl:px-0 flex flex-col z-20 relative -mt-6 items-center">
    <h3 data-aos="fade-down" class="uppercase text-center text-softBlue text-[15px] max-w-[700px]">
        Powering tools and integrations from companies all around the world
    </h3>
    <div data-aos="fade-up" class="flex overflow-hidden h-[35px] w-[300px] mx-auto md:w-full mt-10">
        <div class="w-[666%] md:w-[303%] lg:w-[202%] lg2:w-[190%] h-[35px] overflow-hidden relative">
          <div class="w-[666%] md:w-[303%] lg:w-[202%] lg2:w-[190%] gap-5 flex md:gap-9 lg:gap-6 lg2:gap-10 items-center h-full max-h-[420px] justify-around absolute left-0 animates2 animates2">
                <div class="flex justify-center gap-5 md:gap-9 lg:gap-6 lg2:gap-10 items-start h-full">
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/brave.png" alt="brave logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/circle.png" alt="circle logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/discord.png" alt="discord logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/google.png" alt="google logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/jump.png" alt="jump logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/lollapalooza.png" alt="lollapalooza logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/magic_eden.png" alt="magic eden logo">
                    </div>
                </div>
                <div class="flex justify-center gap-5 md:gap-9 lg:gap-6 lg2:gap-10 items-start h-full">
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/brave.png" alt="brave logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/circle.png" alt="circle logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/discord.png" alt="discord logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/google.png" alt="google logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/jump.png" alt="jump logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/lollapalooza.png" alt="lollapalooza logo">
                    </div>
                    <div class="w-max h-full flex items-center justify-center">
                        <img src="/images/magic_eden.png" alt="magic eden logo">
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>

<style>
    
</style>