---

---

<section class="overflow-hidden max-h-[720px] relative -mt-16 flex justify-between">
    <div data-aos="fade-up" class="w-[800px] h-[800px] -ml-[300px] lg:w-[1200px] lg:h-[1200px] lg:-ml-[490px]">
        <img class="w-full h-full object-contain object-right-top" src="/images/ring-left.png" class="h-full" alt="left ring">
    </div>
    <div data-aos="fade-down" class="w-[1100px] h-[1100px] -mr-[500px] lg:w-[1600px] lg:h-[1600px] lg:-mr-[840px]">
        <img  class="w-full h-full object-contain object-left-top" src="/images/ring-left.png" alt="ring-right">
    </div>
    <div class="w-full px-10 h-full absolute z-10 flex flex-col justify-center items-center text-white">
        <h1 data-aos="fade-up" class="max-w-[777px] text-4xl md:text-7xl text-center">
            Powerful for developers.
            Fast for everyone.
        </h1>
        <p data-aos="fade-down" class="max-w-[589px] text-xl text-center mt-14">
            Bring blockchain to the people. Solana supports experiences for power users, new consumers, and everyone in between.
        </p>
        <div data-aos="fade-up" class="mt-12 flex flex-col md:flex-row gap-6 text-[15px]">
            <a href="/get-started" id="gradient-started" class="uppercase purple-gradient border border-black max-h-[52px] px-8 py-4 rounded-full">
                Start building
            </a>
            <a href="/" class="uppercase text-center hover:bg-white hover:text-black transition-all hover:border-black border max-h-[52px] px-8 py-4 rounded-full">
                read docs
            </a>
        </div>
    </div>
</section>
